* {
    text-align: center;
    padding: 8px;
}

/* ------------------------------------------------------
*  RESTAURANT WELCOME
* ------------------------------------------------------*/
/* LANDING IMAGE */
#landing-img {
    height: 500px;
}

/* RESTAURANT NAME */
#name {
    font-size: 48px;
    font-weight: 700;
}

/* RESTAURANT TAG LINE */
#tagLine {
    font-size: 24px;
}

/* ------------------------------------------------------
*  USER ACTION TABS: ABOUT, CONTACT, MENU
* ------------------------------------------------------*/

#tab-container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.tab {
    padding: 16px;
    width: 120px;
    border: solid black 1px;
    background-color: white;
    border-radius: 25px;
}

.tab:hover {
    background-color: black;
    color: white;
}

/* ------------------------------------------------------
*  TAB CONTENT
* ------------------------------------------------------*/
p {
    text-align: left;
    size: 14px;
}

#about-info {
    padding-left: 10%;
    padding-right: 10%;
}

#info-container { 
    display: flex;    
    justify-content: center;
}